.error-text {
	width: 100%;
	color: red;
	font-style: italic;
	font-size: 14px;
}
.custom-select-xxs,
.custom-select {
	background: none !important;
}
.btn-increase, .btn-decrease {
	padding: 5px 8px;
}
.input-amount{
	width: 145px !important;
    padding: 8px;
}